.search-container {
  width: 50%;
  margin: auto;
}
.mrtb {
  margin: 10px 0px;
  border-radius: 0px;
}

.result-container {
  margin: auto;
  width: 27%;
}

.pd0 {
  padding: 0px;
}

.favourite {
  float: right;
  font-size: 1.5rem;
}

.main-container {
  background-image: linear-gradient(black, maroon);
}

.clred {
  color: red;
}
img {
  height: 100%;
  width: 100%;
}
