<app-navbar></app-navbar>
<div class="main-container">
  <div class="search-container">
    <div class="row">
      <div class="col-md-8 pd0">
        <input
          type="text"
          [(ngModel)]="title"
          class="form-control mrtb"
          placeholder="Title"
        />
      </div>
      <div class="col-md-2 pd0">
        <select [(ngModel)]="type" class="form-control mrtb">
          <option value="movie">Movies</option>
          <option value="series">Series</option>
          <option value="episode">Episode</option>
        </select>
      </div>
      <div class="col-md-2 pd0">
        <button (click)="search()" class="btn btn-secondary mrtb">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="result-container" *ngIf="showCard">
    <div class="card" *ngFor="let item of movieDetails; let i = index">
      <div class="card-header">
        {{ item.Title
        }}<i
          class="fa fa-heart-o favourite"
          (click)="addFavourite(item, i)"
          *ngIf="!favourite[i]"
        ></i>
        <i
          class="fa fa-heart favourite clred"
          (click)="removeFavourite(item, i)"
          *ngIf="favourite[i]"
        ></i>
      </div>
      <div class="card-body"><img src="{{ item.Poster }}" /></div>
      <div class="card-footer">{{ item.Year }}</div>
    </div>
  </div>
</div>
