.search-container {
  width: 50%;
  margin: auto;
}
.mrtb {
  margin: 10px 0px;
  border-radius: 0px;
}

.result-container {
  display: flex;
  flex-wrap: wrap;
}

.pd0 {
  padding: 0px;
}

.favourite {
  float: right;
  font-size: 1.5rem;
}

.main-container {
  background-image: linear-gradient(black, maroon);
}

.clred {
  color: red;
}
img {
  height: 100%;
}

.card {
  margin: 15px;
  flex-grow: 1;
  width: 10rem;
  height: 20rem;
}

.card-body {
  text-align: center;
}
